 

body{
    
    /*background-color:aqua*/
    background-image: url(../assets/default.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
html{
    font-family: 'Times New Roman', Times, serif
}

div h1{
    color: blue;
}
            h1{
                color: orange
                    text-aling: center;}
                .cuadrado{
                    width:100px;
                    heigth: 100px;
                    background-color: red;
                        margin:auto;
                }
                #circulo{
                    background: #f00;
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    margin:  auto;
                }
.container{
    background: linea-gradient(to bottom right,
    00ccaaa,#ffcc00,orange);
    box-shadow: 3px 3px black
    
    
    
}

h1{
    color:floralwhite;
}
h1{
    
    color: #ffffff;
    text-shadow: 2px 2px 5px black
        font-family= 'Indie'
}

h2{
    font-size: 50px
    color: rgb(0, 47, 122);
    text-shadow: 2px 2px 3px white;
    font-family= 'Flower'
}
h3{
    color:blueviolet;
    font-family: 'Indie'
}
.image{
    border-right: 50px dotted red;
    border-left:  40px dashed yellow;
    border-bottom:  70px solid brown;+
    border-top: 10px groove silver;
}

ul li{
    color: aliceblue;
    font-size:  20px;
    
}
ul > li{
    color: yellow;
}

.container h1{
    background: linea-gradientto bottom rigth,#00ccaa,#ffc00,orange);
    box-shadow: 3px 3px 3px black;
    color: red
        
        
}
            
div h1{
    color: white;
}
h1,h2, #aidi, .clase{
    color: aqua;
    text-shadow: 2px 2px 5px black;
    line-height:normal
    font-family:sams.serif;
}
.a{
    text-decoration: none;
    color: red;
    font-size: 30px;
    letter-spacing:  30px;
    text-transform: uppercase;
}
.formateo{
    font-size: 25px;+
    line-height:  2em;
    color:white;
}
img{
    max-width: 100%;
    height: auto;
    padding: 5px;
    opacity: 0.7;
    display: block;
    margin-bottom: 60px;
}
.image{
    border-radius: 100px;
    width: 300px;
    height: 300px;
    border: 2px solid white;
    padding: 20px
}
button{
    color:orange;
    border-radius: 15px;
    border: none;
    font-size: 40px;
    padding: 20px,40px,50px;
    
}